body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "RedHatDisplayBold";
  src: local("RedHatDisplayBold"),
   url("./fonts/RedHat/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
 }
 
 @font-face {
  font-family: "RedHatDisplayRegular";
  src: local("RedHatDisplayRegular"),
   url("./fonts/RedHat/RedHatDisplay-Regular.ttf") format("truetype");
 }

*{
  font-family: RedHatDisplayRegular;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
